.listContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 600px;
}

.listTitle {
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.listItem {
  display: flex;
  flex-direction: column;
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
  justify-content: center;
  margin-top: 12px;
  padding: 12px;
  border-bottom: 1px solid#EFEFF0;
  cursor: pointer;
}

.textContainer {
  display: flex;
}

.text {
  display: flex;
  flex: 1;
  margin-left: 8px;
}

.subListContainer {
  display: flex;
  flex: 1;
  margin-top: 12px;
}

.subListTitle {
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
}

.subList {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.subListItem {
  display: flex;
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
  margin-right: 16px;
}