.listContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 600px;
}

.listTitle {
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  padding: 12px;
  border-bottom: 1px solid#EFEFF0;
}

.listItemButton {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
  padding: 0px;
  margin: 0px;
}

.textContainer {
  display: flex;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.text {
  display: flex;
  flex: 1;
  margin-left: 8px;
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
  font-size: 16px;
}