.subListContainer {
  display: flex;
  flex: 1;
  margin-top: 12px;
}

.subListTitle {
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
}

.subList {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.subListItem {
  display: flex;
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
  margin-right: 16px;
  font-size: 16px;
}