.container {
  display: flex;
  height: 80px;
  align-items: center;
}

.items {
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style-type: none;
}

.item {
  display: flex;
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
  font-size: .8333333333rem;
}