.container {
  display: flex;
  height: 80px;
  align-items: center;
}

.items {
  display: flex;
  flex: 1;
  list-style-type: none;
}

.item {
  display: flex;
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-right: 32px;
}

.link {
  text-decoration: none;
  color: #888888;
}

.link:hover {
  color: hotpink !important;
}

.link:visited {
  color: #888888;
}