.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 75%;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}