.content {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 24px;
  width: 600px;
  border-bottom: 4px solid #EFEFF0;
  border-right: 1px solid #EFEFF0;
}

.introduction {
  color: #888888;
  font-family: ColfaxAI,Helvetica,sans-serif;
}

.image {
  margin-left: 20px;
}

.profileImage {
  width: 250px;
  height: 250px;
  border-radius: 125px;
}